
@charset "utf-8";

@import 'style.scss';
@import 'tools-bar.scss';

.pixel-drawing {
  display: flex;
  align-items: center;
  justify-content: center;
  .pixel-drawing-board-canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
    border: 0;
  }
}

